.pagination-container {
    margin: 3rem auto;
    justify-content: center;
}

.page-num-active {
    background-color: var(--primary-color);
    color: white;
}

.pagination-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-link-dotted {
    cursor: auto;
}

.pagination-item-disable {
    cursor: auto !important;
    font-size: 2.5rem !important;
}

.pagination-link-disable {
    opacity: .7;
    cursor: auto !important;
}

.pagination-link-disable:hover {
    background-color: #323242 !important;
    color: lightgray !important;
}

.pagination-item {
    cursor: pointer;
    user-select: none;
    transition: all .4s !important;
    color: lightgray;
    border-radius: 0.5rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0.5rem;
}

.dotted-pagin {
    cursor: auto !important;
}

.pagination-item:not(.pagination-item-disable, .pagination-link-disable, .dotted-pagin):hover {
    color: black !important;
    background-color: lightgray !important;
}

.pagination-link--active {
    color: var(--white-color);
    background-color: var(--primary-color);
}